<!-- filepath: /home/jorge/todo-final/app/views/items/_item.html.erb -->
<div id="item_<%= item.id %>" class="flex items-center justify-between p-4 bg-gray-100 rounded-lg shadow-sm">
  <div>
    <h2 class="text-xl font-semibold"><%= item.title %></h2>
    <p class="text-gray-600"><%= item.description %></p>
  </div>
  <div>
    <%#= link_to 'Edit', edit_list_item_path(item.list, item), class: 'btn btn-sm btn-outline mr-2' %>
    <%#= link_to 'Delete', list_item_path(item.list, item), method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-sm btn-error' %>
  </div>
</div>